<ul>
  <% @bookings.each do |booking| %>
    <h1>Your bookings</h1>
    <li>You've booked to rent: <%= booking.plant.name %></li>
    <li> from <%= booking.start_date %> to <%= booking.end_date %></li>
    <%= link_to "Edit your booking", plant_booking_path %>
  <% end %>
</ul>

