<footer class="white-section" id="footer">
    <div class="container-fluid text-center m-2">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 Plant App</p>
    </div>
  </footer>
