<footer class="white-section" id="footer">
    <div class="container-fluid text-center">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <div>© Copyright 2021 Plant App</div>
    </div>
</footer>
