<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497990571654-77aa8ec36038?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBsYW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1>Plants App</h1>
    <p>Rent amazing plants</p>
    <a class="btn btn-flat" href="<%= plants_path%>">rent your plants</a>
  </div>
</div>

