<div class="banner" style="background-image:url(<%= asset_path 'pic-4.jpg' %>)">
  <div class="container mt-4">
    <h1>Plants App <i class="fas fa-leaf"></i></h1>
    <p>Find a plant to love</p>
    <a class="banner-btn text-decoration-none" href="<%= plants_path%>">View Plants</a>
  </div>
</div>


