<h1 class="m-3">Plants App</h1>

<div class="container">
  <div class="card rounded shadow-sm mb-5 bg-white" style="width: 15rem;">
    <% @plants.each do |plant| %>
    <img class="card-img-top" src="<%= plant.image %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= plant.name %></h5>
      <p class="card-text"><%= plant.description %></p>

      <%= link_to 'view details', plant_path(plant), class:"btn btn-success" %></a>
      <% end %>
    </div>
  </div>
</div>
