<h3 class="m-3">Plants</h3>

<div class="container">
  <div class="cards">
    <% @plants.each do |plant| %>
    <%= link_to plant_path(plant) do %>
    <div class="card-trip">
      <img src=" <%= plant.image %> " />
      <div class="card-trip-infos">
        <div>
          <h2> <%= plant.name %> </h2>
          <p> <%= plant.description.truncate(150) %> </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>










