.card-show {
  margin-top: 16px;
}

.card-text {
  text-align: center;
}

.card-text-p {
  margin-top: 34px
}

.img-card {
  border-radius: 25px;
  height: 350px;
}


.cards-index a {
  text-decoration: none;
  color: black;
}

.button-position {
    position: absolute;
    left: 505px;
    top: 400px;
}
